<nav role='navigation'>
  <div id="menuToggle">
    
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
   
    <ul id="menu">
      <a [routerLink]="['/mware']"><li>Warehouse Stock</li></a>
      <a [routerLink]="['/mshop']"><li>Shop Stock</li></a>
      <a [routerLink]="['/mreport']"><li>Report To Admin</li></a>
      <a [routerLink]="['/warehouse']"><li>Logout</li></a>
      
    </ul>
  </div>
</nav>

<main>
  <div class="card p-3 my-3">
    <div class="card-body">
        <h2> Manager Dashboard </h2> 
    </div>
</div>


  <div class="content">
<img src="https://media.istockphoto.com/vectors/warehouse-workers-are-storing-boxes-on-the-rack-vector-id965959650?k=6&m=965959650&s=612x612&w=0&h=djRQQrn6bNKg2WSFMrLD0mzJpvWZcY_4nz3c1xRYefs=">
  </div>   
</main>







