<html>

<head>

</head>

<body>
    <div class="area"></div>
    <nav class="main-menu">
        <ul>
            <li>
                <a [routerLink]="['/admindesk']">
                    <i class="fa fa-tachometer fa-2x"></i>
                    <span class="nav-text">
                        Dashboard
                    </span>
                </a>

            </li>
            <li>
                <a class="has-subnav-link" [routerLink]="['/notify']">
                    <i class="fa fa-bell-o fa-2x"></i>
                    <span class="nav-text">
                        Notifications
                    </span>
                </a>
            </li>
            <li class="has-subnav">
                <a class="has-subnav-link" [routerLink]="['/request']">
                    <i class="fa  fa-shopping-cart fa-2x"></i>
                    <span class="nav-text">
                        Request Order
                    </span>

                </a>

            </li>
            <li class="has-subnav">
                <a class="has-subnav-link" [routerLink]="['/supply']">
                    <i class="fa fa-th-list fa-2x"></i>
                    <span class="nav-text">
                        Perishable Supply List
                    </span>
                </a>

            </li>
            <li class="has-subnav">
                <a class="has-subnav-link" [routerLink]="['/shelf']">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                        Shop Shelf
                    </span>
                </a>

            </li>

            <li>
                <a class="has-subnav-link" [routerLink]="['/warestock']">
                    <i class="fa fa-truck fa-2x"></i>
                    <span class="nav-text">
                        Warehouse
                    </span>
                </a>
            </li>
            <li>
                <a class="has-subnav-link" [routerLink]="['/user']">
                    <i class="fa fa-comments-o fa-2x"></i>
                    <span class="nav-text">
                        User Profile
                    </span>
                </a>
            </li>
            <li>
                <a class="has-subnav-link" [routerLink]="['/usermanagement']">
                    <i class="fa fa-users fa-2x"></i>
                    <span class="nav-text">
                        User Mangement
                    </span>
                </a>
            </li>
            <li>
                <a class="has-subnav-link" [routerLink]="['/oderhistory']">
                    <i class="fa fa-book fa-2x"></i>
                    <span class="nav-text">
                        Order History
                    </span>
                </a>
            </li>

            <li>
                <a class="has-subnav-link" [routerLink]="['/pay']">
                    <i class="fa fa-credit-card fa-2x"></i>
                    <span class="nav-text">
                        Payment
                    </span>
                </a>
            </li>


        </ul>

        <ul class="logout">
            <li>
                <a class="has-subnav-link" [routerLink]="['/admin']">
                    <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">
                        Logout
                    </span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="card p-3 my-3">
        <div class="card-body">
            <h2> HI SIR </h2>
        </div>
    </div>
    <div class="imgbox"><img
            src="https://img.freepik.com/free-vector/recruit-agent-analyzing-candidates_74855-4565.jpg?size=626&ext=jpg">
    </div>
</body>

</html>