<div class="sidenav right">
    <div class="nav"><div class="icon fa fa-home"></div><div class="description"[routerLink]="['/View']">Request</div></div>
    <div class="nav"><div class="icon fa fa-database"></div><div class="description"[routerLink]="['/Check']">Damage</div></div>
    <div class="nav active"><div class="icon fa fa-users"></div><div class="description"[routerLink]="['/Approve']">Approved</div></div>
    <div class="nav "><div class="icon fa fa-users"></div><div class="description"[routerLink]="['/vendor']">Logout</div></div>
 
  </div>
     

  <div class="card p-3 my-3">
    <div class="card-body">
        <h2> Vendor Dashboard </h2> 
    </div>



  <div class="content">
<img src="https://cdn2.hubspot.net/hubfs/415713/inventory-management.png">
  </div>