<!-- circular Menu -->
<div id="circularMenu" class="circular-menu">

    <a class="floating-btn" onclick="document.getElementById('circularMenu').classList.toggle('active');">
        <i class="fa fa-plus"></i>
    </a>

    <menu class="items-wrapper">
        <a class="menu-item fa fa-home" [routerLink]="['/']"></a>
        <a class="menu-item fa fa-refresh" (click)="reloadCurrentPage()"></a>
        <a class="menu-item fa fa-arrow-left" [routerLink]="['/admindesk']"></a>
        <a class="menu-item fa fa-power-off" [routerLink]="['/admin']"></a>
    </menu>

</div>
<div class="cardtitle">
    <div class="card-body">
        <h2>User Management</h2>
    </div>
</div>

<!-- Tabs -->

<div class="tabs">
    <div id="tab-3">


        <div class="mahi_holder">
            <div class="container">

                <br>
                <div class="row bg_3">
                    <h2><i>Manager Personal Info</i></h2>
                    <br>
                    <br>
                    <div class="col-3 input-effect">
                        <input class="effect-16" type="text" placeholder="">
                        <label>First Name</label>
                        <span class="focus-border"></span>
                    </div>
                    <div class="col-3 input-effect">
                        <input class="effect-17" type="text" placeholder="">
                        <label>Last Name</label>
                        <span class="focus-border"></span>
                    </div>
                    <div class="col-3 input-effect">
                        <input class="effect-21" type="text" placeholder="">
                        <label>Designation</label>
                        <span class="focus-border">
                            <i></i>
                        </span>
                    </div>
                    <div class="col-3 input-effect">
                        <input class="effect-21" type="text" placeholder="">
                        <label>Department</label>
                        <span class="focus-border">
                            <i></i>
                        </span>
                    </div>
                    <div class="col-3 input-effect">
                        <input class="effect-21" type="text" placeholder="">
                        <label>DOB</label>
                        <span class="focus-border">
                            <i></i>
                        </span>
                    </div>
                    <div class="col-3 input-effect">
                        <input class="effect-21" type="text" placeholder="">
                        <label>Gender</label>
                        <span class="focus-border">
                            <i></i>
                        </span>
                    </div>
                    <div class="col-3 input-effect">
                        <input class="effect-21" type="text" placeholder="">
                        <label> Aadhar Number</label>
                        <span class="focus-border">
                            <i></i>
                        </span>
                    </div>
                    <div class="col-3 input-effect">
                        <input class="effect-21" type="text" placeholder="">
                        <label>Pan Id</label>
                        <span class="focus-border">
                            <i></i>
                        </span>
                    </div>
                    <h2><i>Manager Login Info</i></h2>
                    <br>
                    <div class="col-3 input-effect">
                        <input class="effect-16" type="text" placeholder="">
                        <label>User Name</label>
                        <span class="focus-border"></span>
                    </div>

                    <div class="col-3 input-effect">
                        <input class="effect-16" type="text" placeholder="">
                        <label>Manager Id</label>
                        <span class="focus-border"></span>
                    </div>

                    <div class="col-3 input-effect">
                        <input class="effect-16" type="text" placeholder="">
                        <label>Password</label>
                        <span class="focus-border"></span>
                    </div>

                    <div class="col-3 input-effect">
                        <input class="effect-16" type="text" placeholder="">
                        <label>Mail Id</label>
                        <span class="focus-border"></span>
                    </div>
                    <div class="col-3 input-effect">
                        <input class="effect-16" type="text" placeholder="">
                        <label>Phone Number</label>
                        <span class="focus-border"></span>
                    </div>

                    <div class="wrap">
                        <button class="button" (click)="opensweet()">Submit</button>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <!-- tab2 -->
    <div id="tab-2">
        <div class="mahi_holder">
            <div class="container">

                <br>
                <div class="row bg_3">
                    <div class="tab2heading">
                        <h2><i>Vendor Personal Info</i></h2>
                    </div>
                    <br>
                    <br>
                    <div class="col-3 input-effect">
                        <input class="effect-16" type="text" placeholder="">
                        <label>First Name</label>
                        <span class="focus-border"></span>
                    </div>
                    <div class="col-3 input-effect">
                        <input class="effect-17" type="text" placeholder="">
                        <label>Last Name</label>
                        <span class="focus-border"></span>
                    </div>
                    <div class="col-3 input-effect">
                        <input class="effect-21" type="text" placeholder="">
                        <label>Designation</label>
                        <span class="focus-border">
                            <i></i>
                        </span>
                    </div>
                    <div class="col-3 input-effect">
                        <input class="effect-21" type="text" placeholder="">
                        <label>Department</label>
                        <span class="focus-border">
                            <i></i>
                        </span>
                    </div>
                    <div class="col-3 input-effect">
                        <input class="effect-21" type="text" placeholder="">
                        <label>DOB</label>
                        <span class="focus-border">
                            <i></i>
                        </span>
                    </div>
                    <div class="col-3 input-effect">
                        <input class="effect-21" type="text" placeholder="">
                        <label>Gender</label>
                        <span class="focus-border">
                            <i></i>
                        </span>
                    </div>
                    <div class="col-3 input-effect">
                        <input class="effect-21" type="text" placeholder="">
                        <label> Aadhar Number</label>
                        <span class="focus-border">
                            <i></i>
                        </span>
                    </div>
                    <div class="col-3 input-effect">
                        <input class="effect-21" type="text" placeholder="">
                        <label>Pan Id</label>
                        <span class="focus-border">
                            <i></i>
                        </span>
                    </div>
                    <div class="tab2heading">
                        <h2><i>Vendor Login Info</i></h2>
                    </div>
                    <br>
                    <div class="col-3 input-effect">
                        <input class="effect-16" type="text" placeholder="">
                        <label>User Name</label>
                        <span class="focus-border"></span>
                    </div>

                    <div class="col-3 input-effect">
                        <input class="effect-16" type="text" placeholder="">
                        <label>Vendor Id</label>
                        <span class="focus-border"></span>
                    </div>

                    <div class="col-3 input-effect">
                        <input class="effect-16" type="text" placeholder="">
                        <label>Password</label>
                        <span class="focus-border"></span>
                    </div>

                    <div class="col-3 input-effect">
                        <input class="effect-16" type="text" placeholder="">
                        <label>Mail Id</label>
                        <span class="focus-border"></span>
                    </div>
                    <div class="col-3 input-effect">
                        <input class="effect-16" type="text" placeholder="">
                        <label>Phone Number</label>
                        <span class="focus-border"></span>
                    </div>

                    <div class="wrap">
                        <button class="button" (click)="opensweet()">Submit</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- tab1 -->
    <div id="tab-1">

        <div class="mahi_holder">
            <div class="container">

                <br>
                <div class="row bg_3">
                    <div class=tab1heading>
                        <h2><i>Checker Personal Info</i></h2>
                    </div>
                    <br>
                    <br>
                    <div class="col-3 input-effect">
                        <input class="effect-16" type="text" placeholder="">
                        <label>First Name</label>
                        <span class="focus-border"></span>
                    </div>
                    <div class="col-3 input-effect">
                        <input class="effect-17" type="text" placeholder="">
                        <label>Last Name</label>
                        <span class="focus-border"></span>
                    </div>
                    <div class="col-3 input-effect">
                        <input class="effect-21" type="text" placeholder="">
                        <label>Designation</label>
                        <span class="focus-border">
                            <i></i>
                        </span>
                    </div>
                    <div class="col-3 input-effect">
                        <input class="effect-21" type="text" placeholder="">
                        <label>Department</label>
                        <span class="focus-border">
                            <i></i>
                        </span>
                    </div>
                    <div class="col-3 input-effect">
                        <input class="effect-21" type="text" placeholder="">
                        <label>DOB</label>
                        <span class="focus-border">
                            <i></i>
                        </span>
                    </div>
                    <div class="col-3 input-effect">
                        <input class="effect-21" type="text" placeholder="">
                        <label>Gender</label>
                        <span class="focus-border">
                            <i></i>
                        </span>
                    </div>
                    <div class="col-3 input-effect">
                        <input class="effect-21" type="text" placeholder="">
                        <label> Aadhar Number</label>
                        <span class="focus-border">
                            <i></i>
                        </span>
                    </div>
                    <div class="col-3 input-effect">
                        <input class="effect-21" type="text" placeholder="">
                        <label>Pan Id</label>
                        <span class="focus-border">
                            <i></i>
                        </span>
                    </div>
                    <div class=tab1heading>
                        <h2><i>Checker Login Info</i></h2>
                    </div>
                    <br>
                    <div class="col-3 input-effect">
                        <input class="effect-16" type="text" placeholder="">
                        <label>User Name</label>
                        <span class="focus-border"></span>
                    </div>

                    <div class="col-3 input-effect">
                        <input class="effect-16" type="text" placeholder="">
                        <label>Checker Id</label>
                        <span class="focus-border"></span>
                    </div>

                    <div class="col-3 input-effect">
                        <input class="effect-16" type="text" placeholder="">
                        <label>Password</label>
                        <span class="focus-border"></span>
                    </div>

                    <div class="col-3 input-effect">
                        <input class="effect-16" type="text" placeholder="">
                        <label>Mail Id</label>
                        <span class="focus-border"></span>
                    </div>
                    <div class="col-3 input-effect">
                        <input class="effect-16" type="text" placeholder="">
                        <label>Phone Number</label>
                        <span class="focus-border"></span>
                    </div>

                    <div class="wrap">
                        <button class="button" (click)="opensweet()">Submit</button>
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>


<!-- tab1 -->
<div id="tab-1">

    <div class="mahi_holder">
        <div class="container">

            <br>
            <div class="row bg_3">
                <div class=tab1heading>
                    <h2><i>Checker Personal Info</i></h2>
                </div>
                <br>
                <br>
                <div class="col-3 input-effect">
                    <input class="effect-16" type="text" placeholder="">
                    <label>First Name</label>
                    <span class="focus-border"></span>
                </div>
                <div class="col-3 input-effect">
                    <input class="effect-17" type="text" placeholder="">
                    <label>Last Name</label>
                    <span class="focus-border"></span>
                </div>
                <div class="col-3 input-effect">
                    <input class="effect-21" type="text" placeholder="">
                    <label>Designation</label>
                    <span class="focus-border">
                        <i></i>
                    </span>
                </div>
                <div class="col-3 input-effect">
                    <input class="effect-21" type="text" placeholder="">
                    <label>Department</label>
                    <span class="focus-border">
                        <i></i>
                    </span>
                </div>
                <div class="col-3 input-effect">
                    <input class="effect-21" type="text" placeholder="">
                    <label>DOB</label>
                    <span class="focus-border">
                        <i></i>
                    </span>
                </div>
                <div class="col-3 input-effect">
                    <input class="effect-21" type="text" placeholder="">
                    <label>Gender</label>
                    <span class="focus-border">
                        <i></i>
                    </span>
                </div>
                <div class="col-3 input-effect">
                    <input class="effect-21" type="text" placeholder="">
                    <label> Aadhar Number</label>
                    <span class="focus-border">
                        <i></i>
                    </span>
                </div>
                <div class="col-3 input-effect">
                    <input class="effect-21" type="text" placeholder="">
                    <label>Pan Id</label>
                    <span class="focus-border">
                        <i></i>
                    </span>
                </div>
                <div class=tab1heading>
                    <h2><i>Checker Login Info</i></h2>
                </div>
                <br>
                <div class="col-3 input-effect">
                    <input class="effect-16" type="text" placeholder="">
                    <label>User Name</label>
                    <span class="focus-border"></span>
                </div>

                <div class="col-3 input-effect">
                    <input class="effect-16" type="text" placeholder="">
                    <label>Checker Id</label>
                    <span class="focus-border"></span>
                </div>

                <div class="col-3 input-effect">
                    <input class="effect-16" type="text" placeholder="">
                    <label>Password</label>
                    <span class="focus-border"></span>
                </div>

                <div class="col-3 input-effect">
                    <input class="effect-16" type="text" placeholder="">
                    <label>Mail Id</label>
                    <span class="focus-border"></span>
                </div>
                <div class="col-3 input-effect">
                    <input class="effect-16" type="text" placeholder="">
                    <label>Phone Number</label>
                    <span class="focus-border"></span>
                </div>

                <div class="wrap">
                    <button class="button" (click)="opensweet()">Submit</button>
                </div>

            </div>
        </div>
    </div>


</div>
<div id="tab-4">
    <div class="mahi_holder">
        <div class="container">

            <br>
            <div class="row bg_3">
                <div class=tab4heading>
                    <h2><i>Suplier Personal Info</i></h2>
                </div>
                <br>
                <br>
                <div class="col-3 input-effect">
                    <input class="effect-16" type="text" placeholder="">
                    <label>First Name</label>
                    <span class="focus-border"></span>
                </div>
                <div class="col-3 input-effect">
                    <input class="effect-17" type="text" placeholder="">
                    <label>Last Name</label>
                    <span class="focus-border"></span>
                </div>
                <div class="col-3 input-effect">
                    <input class="effect-21" type="text" placeholder="">
                    <label>Designation</label>
                    <span class="focus-border">
                        <i></i>
                    </span>
                </div>
                <div class="col-3 input-effect">
                    <input class="effect-21" type="text" placeholder="">
                    <label>Department</label>
                    <span class="focus-border">
                        <i></i>
                    </span>
                </div>
                <div class="col-3 input-effect">
                    <input class="effect-21" type="text" placeholder="">
                    <label>DOB</label>
                    <span class="focus-border">
                        <i></i>
                    </span>
                </div>
                <div class="col-3 input-effect">
                    <input class="effect-21" type="text" placeholder="">
                    <label>Gender</label>
                    <span class="focus-border">
                        <i></i>
                    </span>
                </div>
                <div class="col-3 input-effect">
                    <input class="effect-21" type="text" placeholder="">
                    <label> Aadhar Number</label>
                    <span class="focus-border">
                        <i></i>
                    </span>
                </div>
                <div class="col-3 input-effect">
                    <input class="effect-21" type="text" placeholder="">
                    <label>Pan Id</label>
                    <span class="focus-border">
                        <i></i>
                    </span>
                </div>
                <div class=tab4heading>
                    <h2><i>Suplier Login Info</i></h2>
                </div>
                <br>
                <div class="col-3 input-effect">
                    <input class="effect-16" type="text" placeholder="">
                    <label>User Name</label>
                    <span class="focus-border"></span>
                </div>

                <div class="col-3 input-effect">
                    <input class="effect-16" type="text" placeholder="">
                    <label>Suplier Id</label>
                    <span class="focus-border"></span>
                </div>

                <div class="col-3 input-effect">
                    <input class="effect-16" type="text" placeholder="">
                    <label>Password</label>
                    <span class="focus-border"></span>
                </div>

                <div class="col-3 input-effect">
                    <input class="effect-16" type="text" placeholder="">
                    <label>Mail Id</label>
                    <span class="focus-border"></span>
                </div>
                <div class="col-3 input-effect">
                    <input class="effect-16" type="text" placeholder="">
                    <label>Phone Number</label>
                    <span class="focus-border"></span>
                </div>

                <div class="wrap">
                    <button class="button" (click)="opensweet()">Submit</button>
                </div>

            </div>
        </div>
    </div>
</div>